<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroWave - Home</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" th:href="@{/mw-icon.ico}" type="image/x-icon">
</head>
<body>

    <header class="header-mw">

        <div class="marca-mw cor-complementar">
            <img src="mw-logo.png" class="logo">
        </div>

        <nav class="navbar">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="simulacao">Simulação de Ondas de Sinal</a></li>
                <li><a th:href="sobre">Sobre</a></li>
            </ul>
        </nav>

        <div class="espaco"></div>

    </header>

    <main class="main-mw">

        <div class="head-txt-mw">
            <h1>Bem-vindo à MacroWave</h1>
            <h2>Simulador de Ondas de Sinais Periódicos simples, versátil e intuitivo</h2>
        </div>

        <div class="simul-mw">
            <button id="btn-jump-simul" class="btn-jump-simul" onclick="redirectToSimulation()">Crie uma Simulação</button>
        </div>

        <div class="borda-mw">
            <img src="mw-border-down.png">
        </div>
        
        <div class="txt-mw">
            <p>Utilizando a Transformada de Fourier, calculamos e exibimos a transmissão e o impacto de um canal sobre ondas eletromagnéticas Quadradas, Triangulares, Dentes-de-Serras e Senoidais Retificadas a partir das informações determinadas pelo próprio usuário.</p>
        </div>
       
    </main>

    <footer class="footer-mw">

        <p>&copy MacroWave</p>
        <p> - </p>
        <p>Faculdade Engenheiro Salvador Arena</p>
        <p> - </p>
        <p>2024</p>

    </footer>

    <script src="/scripts.js"></script>
    
</body>
</html>
