<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MacroWave - Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- Header with Navbar -->
<header class="header-mw">
    <nav class="navbar">
        <ul class="navbar-links">
        </ul>
    </nav>
</header>

<!-- Main Container -->
<main class="main-mw">
    <div class="container-mw">
        <h1>MacroWave - Simulação de Ondas de Sinal</h1>
        <div class="form-onda" id="form-onda">

            <div class="campo">
                <label for="categoria-select">Selecione o tipo de onda</label>
                <select name="categoria-select" id="categoria-select">
                    <option th:each="categoria: ${categorias}" th:value="${categoria}"
                            th:text="${categoria.value}"></option>
                </select>
            </div>

            <div class="campo">
                <label for="frequencia">Frequência em kHz (1kHz - 100kHz)</label>
                <input type="number" name="frequencia" id="frequencia"></input>
            </div>

            <div class="campo">
                <label for="canal-select">Selecione o tipo de canal</label>
                <select name="canal-select" id="canal-select">
                    <option th:each="canal: ${canais}" th:value="${canal}" th:text="${canal.value}"></option>
                </select>
            </div>

            <div class="campo" id="freq-sup">
                <label for="frequencia-corte-sup">Frequência de Corte Superior</label>
                <input type="number" name="frequencia-corte-sup" id="frequencia-corte-sup"></input>
            </div>

            <div class="hidden" id="freq-inf">
                <label for="frequencia-corte-inf">Frequência de Corte Inferior</label>
                <input type="number" name="frequencia-corte-inf" id="frequencia-corte-inf"></input>
            </div>

            <button class="btn-mw" id="criar-simulacao">Criar Simulação</button>
        </div>
        <div class="onda-container" id="onda-container">
            <div id="sinal-entrada"></div>
            <div id="amplitudes"></div>
            <div id="fases"></div>
            <div id="modulo-resposta"></div>
            <div id="fase-resposta"></div>
            <div id="amplitudes-saida"></div>
            <div id="fases-saida"></div>
            <div id="sinal-recebido"></div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="footer-mw">
    <p>&copy; 2024 MacroWave</p>
</footer>

<!-- Script para enviar o formulário via AJAX -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#criar-simulacao").click(function () {
            var categoria = $("#categoria-select").val();
            var frequencia = $("#frequencia").val();
            var canal = $("#canal-select").val();
            var frequenciaCorteSup = $("#frequencia-corte-sup").val();
            var frequenciaCorteInf = $("#frequencia-corte-inf").val();

            if (!frequenciaCorteInf) {
                frequenciaCorteInf = 0; // Define o valor como 0 se estiver vazio
            }

            if (frequenciaCorteSup == 0) {
                frequenciaCorteSup = frequencia; // Iguala a frequencia de corte superior à frequencia se for 0
            }

            $.ajax({
                type: "POST",
                url: "/criar-simulacao",
                data: {
                    categoria: categoria,
                    frequencia: frequencia,
                    canal: canal,
                    frequenciaDeCorteSup: frequenciaCorteSup,
                    frequenciaDeCorteInf: frequenciaCorteInf
                },
                dataType: "json",
                success: function (response) {
                    // Exibir gráficos com Plotly.js
                    exibirGraficos(response.sinaisEntrada);
                },
                error: function () {
                    alert("Erro ao processar a solicitação");
                }
            });
        });

        // Função para exibir gráficos com Plotly.js
        function exibirGraficos(data) {
            var xValues = Object.keys(data);
            var yValues = Object.values(data);

            var sinalEntrada = {
                x: xValues,
                y: yValues,
                type: 'scatter',
                mode: 'lines',
                name: 'Sinal de Entrada'
            };

            var layout = {
                title: 'Sinal de Entrada',
                xaxis: {
                    title: 'Tempo (ms)',
                    range: [0, (xValues[xValues.length - 1] - xValues[0]) / 10] // Faixa padrão dividida por 10
                },
                yaxis: {
                    title: 'Amplitude',
                    range: [-2, 2]
                }
            };

            Plotly.newPlot('sinal-entrada', [sinalEntrada], layout);
        }
    });
</script>

</body>
</html>
