<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MacroWave - Onda</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<h1>Resultado da Simulação de Onda</h1>

<!-- Gráficos -->
<div id="sinal-entrada"></div>
<div id="amplitudes"></div>
<div id="fases"></div>
<div id="modulo-resposta"></div>
<div id="fase-resposta"></div>
<div id="amplitudes-saida"></div>
<div id="fases-saida"></div>
<div id="sinal-recebido"></div>

<!-- Script para plotar os gráficos -->
<script type="text/javascript">
    $(document).ready(function () {
    // Dados do sinal de entrada
    var amplitudes = /*[[${amplitudes}]]*/ {};
    var fases = /*[[${fases}]]*/ {};

    // Dados da resposta em frequência do canal
    var moduloResposta = /*[[${moduloResposta}]]*/ {};
    var faseResposta = /*[[${faseResposta}]]*/ {};

    // Dados do sinal resultante
    var amplitudesSaida = /*[[${amplitudesSaida}]]*/ {};
    var fasesSaida = /*[[${fasesSaida}]]*/ {};

    // Função para debugar os mapas
    function debugMap(nomeMapa, mapa) {
        console.log("[" + nomeMapa + "]");
        var contador = 0;
        for (var chave in mapa) {
            if (contador >= 10) break;
            console.log("Chave: " + chave + " Valor: " + mapa[chave]);
            contador++;
        }
    }

    // Debug dos mapas
    debugMap("Amplitudes", amplitudes);
    debugMap("Fases", fases);
    debugMap("ModuloResposta", moduloResposta);
    debugMap("FaseResposta", faseResposta);
    debugMap("AmplitudesSaida", amplitudesSaida);
    debugMap("FasesSaida", fasesSaida);

    // Função para gerar um gráfico
    function gerarGrafico(id, data, layout) {
        Plotly.newPlot(id, data, layout);
    }

    // Gerar gráficos
    gerarGrafico('sinal-entrada', [{ x: Object.keys(amplitudes), y: Object.values(amplitudes), type: 'scatter', mode: 'lines', name: 'Amplitude' }, { x: Object.keys(fases), y: Object.values(fases), type: 'scatter', mode: 'lines', name: 'Fase' }], { title: 'Sinal de Entrada', xaxis: { title: 'Frequência (Hz)' }, yaxis: { title: 'Amplitude/Fase' } });
    gerarGrafico('amplitudes', [{ x: Object.keys(amplitudes), y: Object.values(amplitudes), type: 'bar', name: 'Amplitude' }], { title: 'Amplitudes das Componentes de Frequência do Sinal de Entrada', xaxis: { title: 'Harmônica' }, yaxis: { title: 'Amplitude' } });
    gerarGrafico('fases', [{ x: Object.keys(fases), y: Object.values(fases), type: 'bar', name: 'Fase' }], { title: 'Fases das Componentes de Frequência do Sinal de Entrada', xaxis: { title: 'Harmônica' }, yaxis: { title: 'Fase (rad)' } });
    gerarGrafico('modulo-resposta', [{ x: Object.keys(moduloResposta), y: Object.values(moduloResposta), type: 'scatter', mode: 'lines', name: 'Módulo' }], { title: 'Módulo da Resposta em Frequência do Canal', xaxis: { title: 'Frequência (Hz)' }, yaxis: { title: 'Módulo' } });
    gerarGrafico('fase-resposta', [{ x: Object.keys(faseResposta), y: Object.values(faseResposta), type: 'scatter', mode: 'lines', name: 'Fase' }], { title: 'Fase da Resposta em Frequência do Canal', xaxis: { title: 'Frequência (Hz)' }, yaxis: { title: 'Fase (rad)' } });
    gerarGrafico('amplitudes-saida', [{ x: Object.keys(amplitudesSaida), y: Object.values(amplitudesSaida), type: 'bar', name: 'Amplitude' }], { title: 'Amplitudes das Componentes de Frequência do Sinal de Saída', xaxis: { title: 'Harmônica' }, yaxis: { title: 'Amplitude' } });
    gerarGrafico('fases-saida', [{ x: Object.keys(fasesSaida), y: Object.values(fasesSaida), type: 'bar', name: 'Fase' }], { title: 'Fases das Componentes de Frequência do Sinal de Saída', xaxis: { title: 'Harmônica' }, yaxis: { title: 'Fase (rad)' } });
});
</script>
</body>
</html>
