<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MacroWave - Simulação de Ondas</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" th:href="@{/mw-icon.ico}" type="image/x-icon">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <header class="header-mw">

        <div class="marca-mw cor-complementar">
            <img src="mw-logo.png" class="logo">
        </div>

        <nav class="navbar">
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="simulacao">Simulação de Ondas de Sinal</a></li>
                <li><a th:href="sobre">Sobre</a></li>
            </ul>
        </nav>

        <div class="espaco"></div>

    </header>

<!-- Main Container -->
<main class="main-mw">
    <div class="container-mw">

        <div class="head-txt-mw">
            <h1 style="font-size: 5em;">Simulação de Ondas de Sinal</h1>
        </div>
        
        <div class="form-onda" id="form-onda">

            <div class="campo">
                <label for="categoria-select">Selecione o tipo de onda</label>
                <select name="categoria-select" id="categoria-select">
                    <option th:each="categoria: ${categorias}" th:value="${categoria}"
                            th:text="${categoria.value}"></option>
                </select>
            </div>

            <div class="campo">
                <label for="frequencia">Frequência Fundamental em kHz (1kHz - 100kHz)</label>
                <input type="number" name="frequencia" id="frequencia"></input>
            </div>

            <div class="campo">
                <label for="canal-select">Selecione o tipo de canal</label>
                <select name="canal-select" id="canal-select" onchange="exibeCorteInf()">
                    <option th:each="canal: ${canais}" th:value="${canal}" th:text="${canal.value}"></option>
                </select>
            </div>

            <div class="campo" id="freq-sup">
                <label for="frequencia-corte-sup" id="label-freq-corte">Frequência de Corte em kHz (1kHz - 100kHz)</label>
                <input type="number" name="frequencia-corte-sup" id="frequencia-corte-sup"></input>
            </div>

            <div id="freq-inf" hidden>
                <label for="frequencia-corte-inf">Frequência de Corte Inferior em kHz (1kHz - 100kHz)</label>
                <input type="number" name="frequencia-corte-inf" id="frequencia-corte-inf"></input>
            </div>

            <button class="btn-mw" id="criar-simulacao">Criar Simulação</button>
        </div>
        <br>
        <div class="onda-container" id="onda-container">
            <div id="sinal-entrada"></div>
            <div id="sinal-saida"></div>
            <div id="modulo-resposta"></div>
            <div id="fase-resposta"></div>
            <div id="amplitudes"></div>
            <div id="fases"></div>
            <div id="amplitudes-saida"></div>
            <div id="fases-saida"></div>
        </div>
    </div>
</main>

<footer class="footer-mw">

    <p>&copy MacroWave</p>
    <p> - </p>
    <p>Faculdade Engenheiro Salvador Arena</p>
    <p> - </p>
    <p>2024</p>

</footer>
<!-- Script para enviar o formulário via AJAX -->
<script src="/scripts.js"></script>
<script src="/graficos.js"></script>
<div class="three-dots" id="loadingDots">
    <div></div>
    <div></div>
    <div></div>
</div>

</body>
</html>
